/* toolbar */
.itemEmpty_1 {
	display: block;
	height: 25px;
	width: 10px;
	background-repeat: no-repeat;
}

.itemEmpty_2 {
	display: block;
	height: 25px;
	width: 70px;
	background-repeat: no-repeat;
}
